adf-calling-durable-functions/adf/TestPipeLine.json
{
    "name": "TestPipe",
    "properties": {
        "activities": [
            {
                "name": "ExecuteDurableFunc",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "DurabaleFuncCaller",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "functionRoute": "httpdurable"
                    }
                }
            },
            {
                "name": "SetCustomStatus",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "ExecuteDurableFunc",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "CustomStatus",
                    "value": {
                        "value": "@activity('ExecuteDurableFunc').output.pipelineReturnValue.FunctionResult.CustomStatus",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "SetFunctionOutput",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "SetCustomStatus",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "Output",
                    "value": {
                        "value": "@activity('ExecuteDurableFunc').output.pipelineReturnValue.FunctionResult.output",
                        "type": "Expression"
                    }
                }
            }
        ],
        "variables": {
            "CustomStatus": {
                "type": "String"
            },
            "Output": {
                "type": "Array"
            }
        },
        "annotations": [],
        "lastPublishTime": "2025-01-24T13:39:21Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}